.container {
  width: min(100% - 32px, 1024px);
  margin-inline: auto;
}
.icon {
  object-fit: contain;
}
.dark-clr {
  color: var(--dark);
}
.splash-screen {
  position: fixed;
  inset: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  animation: splash-on 3s forwards;
}
@keyframes splash-on {
  0% {
    opacity: 1;
    display: block;
    visibility: visible;
    pointer-events: visible;
  }
  70% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
.splash-screen img {
  width: 100%;
  height: 100%;
}
